<!DOCTYPE html>
<html>
 <head>
 <meta charset="utf-8">
 <title>This is cool site</title>
 </head>
 <body>
     <h1>{{pageTitle}e</h1>
     <p>Some text here</p>
     <footer>
         <p>Copyright {{currentYear}}</p>
     </footer>
 </body>
</html>